*.1
*.v2
*.vsidx
*.lock
*.suo
*.testlog
*.manifest
*.json
*.cache
*.props
*.targets
Shop.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Shop.Application/obj/Debug/net6.0/Shop.Application.AssemblyInfo.cs
*.editorconfig
Shop.Application/obj/Debug/net6.0/Shop.Application.GlobalUsings.g.cs
Shop.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Shop.Domain/obj/Debug/net6.0/Shop.Domain.AssemblyInfo.cs
Shop.Domain/obj/Debug/net6.0/Shop.Domain.GlobalUsings.g.cs
