*.1
*.v2
*.vsidx
*.lock
*.suo
*.testlog
*.manifest
*.json
*.cache
*.props
*.targets
Shop.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Shop.Application/obj/Debug/net6.0/Shop.Application.AssemblyInfo.cs
*.editorconfig
Shop.Application/obj/Debug/net6.0/Shop.Application.GlobalUsings.g.cs
Shop.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Shop.Domain/obj/Debug/net6.0/Shop.Domain.AssemblyInfo.cs
Shop.Domain/obj/Debug/net6.0/Shop.Domain.GlobalUsings.g.cs
*.dll
*.pdb
Shop.Application.UnitTest/bin/Debug/net6.0/testhost.exe
*.7z
*.bz2
*.gz
*.tar
*.xz
*.zip
*.docx
*.odt
*.pdf
*.rtf
*.txt
Shop.Domain/obj/Debug/net6.0/Shop.Domain.csproj.BuildWithSkipAnalyzers
Shop.Application/obj/Debug/net6.0/Shop.Application.csproj.CopyComplete
Shop.Application/obj/Debug/net6.0/Shop.Application.csproj.BuildWithSkipAnalyzers
Shop.Application.UnitTest/obj/Debug/net6.0/Shop.Application.UnitTest.csproj.CopyComplete
*.BuildWithSkipAnalyzers
Shop.Application.UnitTest/obj/Debug/net6.0/Shop.Application.UnitTest.AssemblyInfo.cs
Shop.Application.UnitTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.pptx
*.odp
*.xlsx
*.ods
*.wmp
*.webp
*.wdp
*.tif
*.tga
*.avif
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.dds
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.dib
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.exif
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.heic
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.j2c
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.heif
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.ico
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.gif
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jp2
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jpg
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jxr
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jpe
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jpc
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.pbm
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.bmp
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.emf
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.jfif
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.pcx
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.pgm
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.png
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.ppm
Shop.Application.UnitTest/bin/Debug/net6.0/EmptyFiles/image/empty.rle
Shop.Persistence.EF/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Shop.Persistence.EF/obj/Debug/net6.0/Shop.Persistence.EF.AssemblyInfo.cs
Shop.Persistence.EF/obj/Debug/net6.0/Shop.Persistence.EF.GlobalUsings.g.cs
