<h2>Zamówione przedmioty:</h2>
<div class="row row-cols-6">
    <div class="col-xs-12"  *ngFor="let product of products" >
      <div class="card text-center text-bg-light mb-3" style="width: 200px;"  >
          <img  [src]='product.imageUrl'  class="card-img-top img-fluid" [alt]="product.title">
          <div class="card-body" >
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">Cena: {{product.price}} zł</p>
            <p class="card-text">{{product.description}}</p>
            <button class="btn btn-danger" (click)="deleteProductFromShoppingCart(product)">Usuń</button>
          </div>
    </div>

      </div>

  </div>
  <div *ngIf="products">
    <h3>Całkowita kwota to: {{priceOfOrder()}}</h3>
    <button class="btn btn-primary" (click)="order()">Zamów</button>
  </div>
