<hr>
<div class="row text-center">
  <h3>Witaj w sklepie!</h3>
</div>
<hr>
<div class="row g-3">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of loadedProducts" >
    <a style="cursor: pointer;" (click)="clickedProduct(product.id, product)">
      <div class="card text-center text-bg-light mb-3" style="width: 200px;" >
          <img [src]='product.imageUrl'  class="card-img-top img-fluid" [alt]="product.title">
          <div class="card-body" >
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">Cena: {{product.price}} zł</p>
            <p class="card-text">{{product.description | slice:0:20}}</p>
          </div>
        </div>
    </a>

    </div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item" *ngFor="numberOfPages"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div>

