<hr>

<div class="row row-cols-6" *ngIf="products?.length>0; else categoryIsEmpty">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products" >
      <div class="card text-center text-bg-light mb-3" style="width: 200px;" >
          <img [src]='product.imageUrl'  class="card-img-top img-fluid" [alt]="product.title">
          <div class="card-body" >
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">Cena: {{product.price}} zł</p>
            <p class="card-text">{{product.description | slice:0:20}}</p>
            <a style="cursor:pointer" class="btn btn-primary " (click)="buyProduct(product)">Kup</a>
          </div>
        </div>

    </div>
</div>
<ng-template #categoryIsEmpty>
    <h3>Brak produktów z tej kategorii</h3>
</ng-template>

